#frame{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    border: 1px solid rgb(221, 208, 208);
    padding: 0px;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
}
#frameitem{
    padding-top: 10px;
}
#img{
    width: 194px;
    height: 217px;
}
#searchbox{
    width: 130px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-right: 2px;
}
#searchbutton{
    height: 26px;
    font-size: 13px;
    color: white;
    background-color: #428BCA;
    border: none;
    padding: 6px;
    border-radius: 5px;
}
#searchbutton:hover{
    background-color: #004EA2;
}
#errormassage{
    font-size: 14px;
    color: red;
    font-weight: bold;
}
#errormassagebox{
    text-align: center;
}
